* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    width: 100vw;
    background-color: rgb(183, 37, 37);
    box-sizing: border-box;
}
.caja{
width: 400px;
height: 500px;
display: flex;
flex-direction: column;
border: 2px solid black;

}
header{

    width: 100%;
    height: 15%;
    background-color: chartreuse;
}
nav{
    width: 100%;
    height: 15%;
    background-color: rgb(147, 82, 93);
}
main{
    width: 100%;
    height: 30%;
    background-color: rgb(21, 51, 128);
    display: flex;
    flex-direction: column;
}
main section{
    width: 100%;
    height: 50%;
    background-color: rgb(33, 118, 82);
    border-top: 1px solid black;

}
aside{
    width: 100%;
    height: 20%;
    background-color: rgb(125, 122, 15);
    border-top: 1px solid black;
}
footer{
    width: 100%;
    height: 20%;
    background-color: rgb(53, 42, 174);
    border-top: 1px solid black; 
}
@media (max-width: 480px) {
    .caja{
        width: 100%;
        height: 100vh;
    }
    header{
        width: 100%;
        
    }
    nav{
        width: 100%;
        
    }
    main{
        width: 100%;
        
    }
    aside{
        width: 100%;
    }
    footer{
        width: 100%;
    }
}
@media (min-width: 481px) and (max-width: 780px) {
.caja{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-flow:row wrap;
}
header{
width: 80%;
height: 20%;
}    
nav{
width: 20%;
height: 20%;

}
main{
width: 100%;
height: 60%;
display: flex;
flex-direction: column;

}
main section{
    width: 100%;
    height: 50%;
}
aside{
    width: 30%;
    height: 20%;
    order:5;
}

footer{
    width: 70%;
    height: 20%;
    order:4;
}

}
@media (min-width: 781px) and (max-width: 1024px) {
    .caja{
        width: 100vw;
        height: 100vh;
        display: grid;

        grid-template-columns: 30% 50% 20%;
        grid-template-rows: repeat(4, 25%);
        grid-template-areas:
        "header header header"
        "nav main aside"
        "nav section aside";
        "nav footer footer";
    }
    header{
    
    }    
    nav{
  
    }
    main{
 

    }
    main section{
 
    }
    aside{
 
    }

    footer{
 
    }

}